<%- include('partials/header') %>

<div class="container">
  <div class="nav">
    <h1>My Blog</h1>
    <a class="btn btn-info btn-lg" href="/all-posts" role="button"> All posts</a>
  </div>
  <a id="newPostBtn" href="/new">New Post</a>
  <ul id="postsList">
    <% posts.forEach(post => { %>
    <li>
      <h2><%= post.title %></h2>
      <small><%= post.created_at %></small>
      <p><%= post.content %></p>
      <small>By: <%= post.author %></small>
      <a class="edit" href="/edit/<%= post.id %>">Edit</a>
      <a class="delete" href="/posts/delete/<%= post.id %>">Delete</a>
    </li>
    <% }) %>
  </ul>

  <hr />
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
</div>
<%- include('partials/footer') %>
